@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-background {
  background: #dee3e5;
  background-image: radial-gradient(black 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -40px -40px;
}

p a {
  color: #1a202c;
  text-decoration: underline;
}

blockquote {
  font-style: italic;
  color: #555;
  border-left: 4px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

blockquote p {
  display: inline;
}
