@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-background {
  background: #dee3e5;
  background-image: radial-gradient(black 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -40px -40px;
}
